extends layouts/admin.pug

block content
    .admin-notice
        h1 공지
        .btn-wrapper
            .btns.write--btn
                a(href=`/admin${routes.upload_notice}`) 글쓰기
        table
            tr
                th title
                th description
                th 날짜
                th 수정
                th 삭제
            each notice in notices
                tr
                    td= notice.title_kr
                    td= notice.description_kr
                    td= `${notice.createdAt.toDateString()}`
                    td 
                        .btns.write--btn
                            a(href=`/admin${routes.editNotice(notice.id)}`) 수정
                    td 
                        .btns.delete--btn
                            a(href=`/admin${routes.deleteNotice(notice.id)}`) 삭제