extends layouts/main

block content
    .main--image--right
        img(src="/img/store/store-img.jpg", alt="")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .purchase--page--wrapper
        h2 Smart Balance Trainer_FAVE 450
        .purchase--item--wrapper
            .item--block
                .img--wrapper
                    img#displayImg(src="/img/store/450-pink-diagonal.jpg", alt="fave display view")
                .img--desc
                    p
                        | The wide ground plane and low ground height
                        | make it safe to use, reducing the risk of injury.
                        | Great for use by the general public and children.
                        | It can be used for women and the elderly.
                .img--wrapper--small
                    .small--img.choice
                        img(src="/img/store/450-pink-diagonal.jpg", alt="fave pink diagonal view")
                    .small--img
                        img(src="/img/store/450-green-diagonal.jpg", alt="fave green diagonal view")
                    .small--img
                        img(src="/img/store/450-pink-top.jpg", alt="fave pink top view")
                    .small--img
                        img(src="/img/store/450-green-top.jpg", alt="fave green top view")
                    .small--img
                        img(src="/img/store/450-pink-side.jpg", alt="fave pink side view")
                    .small--img
                        img(src="/img/store/450-green-side.jpg", alt="fave green side view")
            .item--block
                form(action=`/store${routes.payment}` method="get")
                    .option--wrapper
                        label.label--text(for="product") Product
                        .option--detail
                            .detail--product
                                input(type="text",id="product", name="product",value="FAVE 450" readOnly)
                                .option__icon
                                    span
                                        i.fa.fa-caret-down
                    .option--wrapper
                        .label--text Color
                        .option--detail
                            .color--select
                                ul.select--selected.js--selected
                                    li Please select a color
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--items.select--hide
                                    .select--item Pink
                                    .select--item Green
                    .option--wrapper
                        .products--wrapper                        
                    .option--wrapper
                        .label--text Total product price
                        .option--detail
                            .product--price
                                ul
                                    li
                                        input(type="text", value="0", readOnly, name="totalPrice", id="totalPrice")
                                    li USD
                    .option--wrapper
                        .option--detail
                            .button--wrapper
                                .button--border
                                    input.purchase--button(type="submit", value="Purchase")
        .purchase--tab
            ul.tabs
               li.tab-items.current(data-tab="detail") Detail
               li.tab-items(data-tab="review") Reviews
            .purchase--detail.tab-contents.current#detail
                .purchase--headers
                    h3 Smart Balance Trainer 450
                .purchase--imgs
                    .detail--img
                        img(src="/img/store/450-natural.jpg", alt="fave 450 on the chair")
                    .detail--img
                        img(src="/img/store/450-natural2.jpg", alt="fave 450 on the table")
                .purchase--desc
                    p FAVE450 is recommended for the general public and children.  
                    p It is recommended for young children, elderly people, or sports beginners. 
                    p FAVE450 is an optimized device for home training.
                    .space 
                    p FAVE enables comprehensive exercise such as core muscle enhancement, full body exercise, and aerobic exercise. 
                    p The balance ball is also used for rehabilitation and increases the body's. 
            .review--detail.tab-contents#review
                .review-detail__container 
                    .headers--container
                        .headers--container__text
                            .text__header
                                h3 Product review
                                span Reviews from customers using fave 350.
                            .text__link
                                a(href="#")
                                    span Total Review >
                        .headers--container__preview
                            .headers--container__items
                                .preview--rating__title
                                    h3 FAVE 450
                                .preview--rating__container    
                                    .preview--rating__star
                                        span.star--rating__blank
                                            if totalRatings.fave450TotalRating == 0
                                                span.star--rating__shiny(style=`width: 0%;`)
                                            else  
                                                span.star--rating__shiny(style=`width: ${Number((Number(totalRatings.fave450TotalRating) / Number(totalRatings.fave450TotalCount)).toFixed(1))*20}%`)
                                    .preview--rating__score
                                        if totalRatings.fave450TotalRating == 0
                                            span= `(Total: 0 / 5.0)`
                                        else
                                            span= `(Total: ${(Number(totalRatings.fave450TotalRating) / Number(totalRatings.fave450TotalCount)).toFixed(1)} / 5.0)`
                            .headers--container__items
                                .preview--img__title
                                    h4 Photo Review
                                .preview--img__wrapper
                                    .preview--img__items
                                        img(src=`${totalRatings.headerImg[totalRatings.headerImg.length-1] === undefined ? "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" : `/${totalRatings.headerImg[totalRatings.headerImg.length-1]}`}`)
                                    .preview--img__items
                                        img(src=`${totalRatings.headerImg[totalRatings.headerImg.length-2] === undefined ? "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" : `/${totalRatings.headerImg[totalRatings.headerImg.length-2]}`}`)
                                    .preview--img__items
                                        img(src=`${totalRatings.headerImg[totalRatings.headerImg.length-3] === undefined ? "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" : `/${totalRatings.headerImg[totalRatings.headerImg.length-3]}`}`)
                    .review--lists__container
                        if reviews.length === 0
                            .review--list__wrapper
                                .review--list__desc
                                    h3 No Review.
                                    p Be the first to leave a review
                        else
                            each review in reviews
                                .review--list__wrapper
                                    .review--list__info
                                        .review--rating__star
                                            span.star--rating__blank
                                                span.star--rating__shiny(style=`width: ${Number(review.rating)*20}%;`)
                                        h4= `${review.creator.name}`
                                        h5= `${review.createdAt.toLocaleDateString('ko-KR')}`
                                    .review--list__desc
                                        h3= `${review.title}`
                                        p= `${review.comment}`
                                    .review--list__img
                                        img(src=`${review.imgLinks === ""? "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" : `/${review.imgLinks}`}`)
                    .review--upload__container
                        if user
                            .review--upload__wrapper
                                form(action=`/store${routes.review}?urlProduct=fave450&urlLanguage=en`, method="post", enctype="multipart/form-data")
                                    .input--container
                                        .label--wrapper
                                            label(for="title") Title
                                        .input--wrapper
                                            input(type="text", placeholder="please write title", name="title", id="title")
                                    .input--container
                                        .label--wrapper
                                            label Rating
                                        .input--wrapper
                                            fieldset(class="rating")
                                                input(type="radio", name="rating", id="star5", value=5)
                                                label(for="star5", title="very good")
                                                input(type="radio", name="rating", id="star4", value=4)
                                                label(for="star4", title="good")
                                                input(type="radio", name="rating", id="star3", value=3)
                                                label(for="star3", title="soso")
                                                input(type="radio", name="rating", id="star2", value=2)
                                                label(for="star2", title="bad")
                                                input(type="radio", name="rating", id="star1", value=1)
                                                label(for="star1", title="very bad")
                                    .input--container
                                        .label--wrapper
                                            label file
                                        .label--btn
                                                label(for="file")
                                                    i.fa.fa-camera
                                                    | Attach a photo.
                                                input(type="file", id="file", name="reviewImg", accept="image/*")
                                    .input--container
                                        .label--wrapper
                                            label(for="review") Review
                                        .input--wrapper
                                            textarea(name="review",id="review")
                                    .input--container
                                        input(name="country", value="en", type="hidden")
                                        input(name="product", value="fave450", type="hidden")
                                    .input--container
                                        .button--wrapper
                                            .submit--btn
                                                button(type="submit") Register
    .center--icons
        .center--icons__wrapper
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-feather-alt
                    h4 Lightness
                    p
                        | FAVE is more than a quarter lighter than other balance balls.
                .center--icon
                    .icon--img
                        i.fas.fa-shield-alt
                    h4 Safe material
                    p
                        | EVA material is approved by the US Food and Drug Administration(US FDA) 
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-tools
                    h4 Custom design
                    p
                        | It is designed to be wide enough to be able to do carious exercises
                        | with height not to be crowded on the ankle.
                .center--icon
                    .icon--img
                        i.fas.fa-globe
                    h4 Anywhere
                    p
                        | You can use it indoors or outdoors, regardless of location.
    .purchase--page--wrapper
        .purchase--spec
            .spec--img
                img(src="/img/store/450-spec.jpg", alt="fave 450 spec")
            .spec--desc
                h4 FAVE spec
                ul
                    li Product name
                    li FAVE smart balance trainer
                ul
                    li Weight
                    li 3.9 lb
                ul
                    li Width
                    li 17.7 in
                ul
                    li Height
                    li 5.9 in
                ul
                    li Maximum load
                    li 440.9 lb
                ul
                    li Material
                    li EVA material
                ul
                    li Product composition
                    li product, user's guide, pump, sensor
                ul
                    li Manufacturer
                    li Strong Friend.INC
                ul
                    li production site
                    li Made in Korea
        .desc--accordion
            .accordion__header
                h3 Product caution
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                p 1. Always use safe space before use. 
                p 2. Stretch before using FAVE. 
                p 3. Always check for damage before use. 
                p 4. Do not use it in humid places. 
                p 5. Keep away from fire and use it. 
                p 6. Do not disassemble or change arbitrarily. 
            .accordion__header
                h3 Q & A
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header Q1. Is a manual available?
                p.text--para FAVE manual comes with the device in the package box. 
                h4.text--header Q2. Warranty period?
                p.text--para 1 year warranty period guaranteed. 
                h4.text--header Q3. How do I charge the sensor?
                p.text--para Charge with Micro 5 pin cable. 
                h4.text--header Q4. How do I check the battery level?
                p.text--para You can check the battery level on the app. 
                h4.text--header Q5. How does it connect to the app?
                p.text--para
                    | Turn on Bluetooth > Open the app > Setting > Auto pairing complete
                h4.text--header Q6. Customs
                p.text--para
                    | In terms of customs clearance, we are not able to address every claim individually due to different customs duties by county.
                    | While we do everything on our side to limit customs charges, ultimately backers are responsible for clearing customs. 
            .accordion__header
                h3 Return condition(exchange & refund condition)
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header * non-exchangeable and returnable
                p - Customer simple change, incorrect purchase
                p
                    | - If the returned product has significantly reduced the value of the product due to your use.
                    | (contaminated, damaged, partially lost, the product has been destroyed and marked for use)
                p
                    | - If the label of the product falls off due to the nature of the product with built-in sensors. 
                    | (if the packaging of the product is cut, lost or damaged)
                p - If the value of the product has been lost to the point where it is difficult to resell it after time has elapsed.
                p
                    | - Tube: It's normal if the air tube is deflated in the product. 
                    | When the tube is deflated, you can fill it with the air pump included. 
                p
                    | - Bluetooth connection: The automatic disconnect of Bluetooth does not apply to the return condition.
                p - If you can't see it as a defect in the product, the shipping fee will be your responsibility. 
                p
                    | - As for A/S, free repair is possible within the warranty period,
                    | but mechanical parts such as sensor failure due to incorrect use may be paid-in repair.