extends layouts/main

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image--right
        img(src="/img/notice-home.jpg")
        .main--image__text
            h1 
                | NO
                span TICE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Notice
    h2.middle--header
        | N
        span OTIC
        | E
    .middle-tap
        .middle-tap__text Notice
        .middle-tap__text
    p.current--page= `Total ${maxPage}/${page} page`
    table.notice--list
        tr
            th Index
            th Title
            th Date
        each notice, index in notices
            tr
                td= `${Number(numberOfNotice)-((Number(page)-1)*Number(renderedNotice))-index}`
                td
                    a(href=`/notice/detail/${notice._id}`)= `${notice.title_en.length > 20 ? `${notice.title_en.slice(0, 20)}...` : notice.title_en}`
                td= `${notice.createdAt.getFullYear()}-${notice.createdAt.getMonth()+1}-${notice.createdAt.getDate() < 10 ? `0${notice.createdAt.getDate()}` : `${notice.createdAt.getDate()}`}`
    if page == 1
        if maxPage < 2
            ul.notice__pagination
                li - 1 -
        else
            ul.notice__pagination
                li 1
                li
                    a(href=`/notice/${Number(page)+1}`)
                        | next
                        | >
    else
        if page == maxPage
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}`)
                        | <
                        | prev
                li= page
        else
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}`)
                        | <
                        | prev
                li= page
                li
                    a(href=`/notice/${Number(page)+1}`)
                        | next
                        | >
    hr
    .contact--form
        form(action=routes.contact, method="post")
            h3 Contact Us
            p
                span *
                | is required
            .contact--form__rows
                .contact--form__label
                    label(for="username")
                        | Name
                        span *
                .contact--form__input
                    input(placeholder="Nickname", id="username",name="username" )
            .contact--form__rows
                .contact--form__label
                    label(for="email")
                        | Email
                        span *
                .contact--form__input
                    input(placeholder="Email", id="email", name="email")
            .contact--form__rows
                .contact--form__label
                    label(for="description")
                        | Description
                        span *
                .contact--form__input
                    textarea(id="description", name="description", placeholder="We will answer your inquiry via the email you entered.")
            .contact--form__btn
                button(type="submit")
                    | Submit
                    i.fas.fa-edit
    