extends layouts/main

block content
    .main--image--right
        img(src="/img/notice-home.jpg", alt="")
        .main--image__text
            h1 
                | NO
                span TICE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Notice
    h2.middle--header
        | N
        span OTIC
        | E
    .detail--wrapper
        h3.detail__header= notice.title_en
        .detail__info
            .notice__writer
                span Writer | Admin
            .notice__date
                span Date |
                span= ` ${notice.createdAt.getFullYear()}-${notice.createdAt.getMonth()+1}-${notice.createdAt.getDate() < 10 ? `0${notice.createdAt.getDate()}` : `${notice.createdAt.getDate()}`}`
        .detail__desc
            if notice.notice_img
                .detail__img
                    img(src=`/${notice.notice_img}`)
            p.detail__text= notice.description_en
        .other--notices
            .notices
                .notice__icon
                    span 
                        i.fas.fa-caret-up
                    span NEXT
                .notice__title
                    if nextNotice
                        h3
                            a(href=`/notice/detail/${nextNotice._id}`)= nextNotice.title_en
                    else
                        h3 Nothing :(
            .notices
                .notice__icon
                    span 
                        i.fas.fa-caret-down
                    span PREV
                .notice__title
                    if prevNotice
                        h3
                            a(href=`/notice/detail/${prevNotice._id}`)= prevNotice.title_en
                    else
                        h3 Nothing :(
        .notice__btn
            a(href='/notice/1') LIST
