extends layouts/admin.pug

block content
    .form-container
        form(action="#", method="post", enctype="multipart/form-data")
            label(for="title_kr") 타이틀
            input(type="text", placeholder="타이틀", id="title_kr", name="title_kr", requied=true)
            label(for="title_en") 타이틀_영어
            input(type="text", placeholder="타이틀_영어", id="title_en", name="title_en", requied=true)
            label(for="title_jp") 타이틀_일어
            input(type="text", placeholder="타이틀_일어", id="title_jp", name="title_jp", requied=true)
            label(for="file") 이미지 올리기
            input(type="file", id="file", name="imgFile", accept="image/*")
            textarea(name="description_kr", placeholder="공지 내용", requied=true)
            textarea(name="description_en", placeholder="공지 내용 영어", requied=true)
            textarea(name="description_jp", placeholder="공지 내용 일어", requied=true)
            input(type="submit", value="upload")
            