extends layouts/main_jp

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image--right
        img(src="/img/notice-home.jpg", alt="")
        .main--image__text
            h1 
                | NO
                span TICE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Notice
    h2.middle--header
        | N
        span OTIC
        | E
    .middle-tap
        .middle-tap__text Notice
        .middle-tap__text
    p.current--page= `Total ${maxPage}/${page} page`
    table.notice--list
        tr
            th 番号
            th 題目
            th 作成日付
        each notice, index in notices
            tr
                td= `${Number(numberOfNotice)-((Number(page)-1)*Number(renderedNotice))-index}`
                td
                    a(href=`/notice/detail/${notice._id}/jp`)= `${notice.title_jp.length > 20 ? `${notice.title_jp.slice(0, 20)}...` : notice.title_jp}`
                td= `${notice.createdAt.getFullYear()}-${notice.createdAt.getMonth()+1}-${notice.createdAt.getDate() < 10 ? `0${notice.createdAt.getDate()}` : `${notice.createdAt.getDate()}`}`
    if page == 1
        if maxPage < 2
            ul.notice__pagination
                li - 1 -
        else
            ul.notice__pagination
                li 1
                li
                    a(href=`/notice/${Number(page)+1}/jp`)
                        | next
                        | >
    else
        if page == maxPage
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}/jp`)
                        | <
                        | prev
                li= page
        else
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}/jp`)
                        | <
                        | prev
                li= page
                li
                    a(href=`/notice/${Number(page)+1}/jp`)
                        | next
                        | >
    hr
    .contact--form#contact--us
        form(action=routes.contactJp, method="post")
            h3 情報入力
            p
                span *
                | is required
            .contact--form__rows
                .contact--form__label
                    label(for="username")
                        | 名前
                        span *
                .contact--form__input
                    input(placeholder="nickname", id="username",name="username" )
            .contact--form__rows
                .contact--form__label
                    label(for="email")
                        | Eメール
                        span *
                .contact--form__input
                    input(placeholder="Email", id="email", name="email")
            .contact--form__rows
                .contact--form__label
                    label(for="description")
                        | お問い 合わせ内容
                        span *
                .contact--form__input
                    textarea(id="description", name="description", placeholder="お問い合わせの内容は入力されたEメールを通じて回答させていただきます")
            .contact--form__btn
                button(type="submit")
                    | 登録
                    i.fas.fa-edit
    