extends layouts/main_kr

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image--right
        img(src="/img/notice-home.jpg")
        .main--image__text
            h1 
                | NO
                span TICE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Notice
    h2.middle--header
        | N
        span OTIC
        | E
    .middle-tap
        .middle-tap__text Notice
        .middle-tap__text
    p.current--page= `Total ${maxPage}/${page} page`
    table.notice--list
        tr
            th 번호
            th 제목
            th 작성일자
        each notice, index in notices
            tr
                td= `${Number(numberOfNotice)-((Number(page)-1)*Number(renderedNotice))-index}`
                td
                    a(href=`/notice/detail/${notice._id}/kr`)= `${notice.title_kr.length > 20 ? `${notice.title_kr.slice(0, 20)}...` : notice.title_kr}`
                td= `${notice.createdAt.getFullYear()}-${notice.createdAt.getMonth()+1}-${notice.createdAt.getDate() < 10 ? `0${notice.createdAt.getDate()}` : `${notice.createdAt.getDate()}`}`
    if page == 1
        if maxPage < 2
            ul.notice__pagination
                li - 1 -
        else
            ul.notice__pagination
                li 1
                li
                    a(href=`/notice/${Number(page)+1}/kr`)
                        | next
                        | >
    else
        if page == maxPage
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}/kr`)
                        | <
                        | prev
                li= page
        else
            ul.notice__pagination
                li
                    a(href=`/notice/${Number(page)-1}/kr`)
                        | <
                        | prev
                li= page
                li
                    a(href=`/notice/${Number(page)+1}/kr`)
                        | next
                        | >
    hr
    .contact--form#contact--us
        form(action=routes.contactKr, method="post")
            h3 정보입력
            p
                span *
                | 표시 필수사항
            .contact--form__rows
                .contact--form__label
                    label(for="username")
                        | 이름
                        span *
                .contact--form__input
                    input(placeholder="닉네임", id="username",name="username" )
            .contact--form__rows
                .contact--form__label
                    label(for="email")
                        | 이메일
                        span *
                .contact--form__input
                    input(placeholder="이메일", id="email", name="email")
            .contact--form__rows
                .contact--form__label
                    label(for="description")
                        | 문의내용
                        span *
                .contact--form__input
                    textarea(id="description", name="description", placeholder="문의하신 내용은 입력하신 이메일을 통해 답변드리겠습니다.")
            .contact--form__btn
                button(type="submit")
                    | 등록하기
                    i.fas.fa-edit
    