extends layouts/main_kr

block content
    .main--image--right
        img(src="/img/store/store-img.jpg")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .orders--wrapper
        .orders__header
            h3 주문 조회
        if isData === false
            .order--lists
                h3 배송정보가 없습니다 :(
        else
            each passedPurchaseList in passedPurchaseLists        
                .order--lists
                    h3 배송정보
                    table
                        tr
                            th 주문번호
                            td(colspan="2")= `${passedPurchaseList.purchaseInfo}`
                        tr
                            th 제품
                            td(colspan="2")= `${passedPurchaseList.productName} ${Number(passedPurchaseList.pinkCnt) > 0? `Pink ${passedPurchaseList.pinkCnt}` : ""} ${Number(passedPurchaseList.greenCnt) > 0? `Green ${passedPurchaseList.greenCnt}` : ""}`
                        if user
                            tr
                                th 배송상태
                                td= `${passedPurchaseList.shipStatus_kr}`
                                if passedPurchaseList.shipStatus_kr === "결제 완료" || passedPurchaseList.shipStatus_kr === "배송준비 중"
                                    td
                                        form(action=`/store${routes.refund_kr}?page=${currentPage}`, method="post")
                                            input(type="hidden", name="purchaseInfo", value=`${passedPurchaseList.purchaseInfo}`)
                                            input(type="hidden", name="ordererEmail", value=`${passedPurchaseList.ordererEmail}`)
                                            input(type="submit", value="환불하기")
                                else
                                    td
                                        a(href="/notice/1/kr#contact--us") 문의하기
                        else
                            tr
                                th 배송상태
                                td(colspan="2")= `${passedPurchaseList.shipStatus_kr}`
                        tr
                            th 수령인
                            td= `${hideInfo(passedPurchaseList.recipientName)}`
                            th 주문자 정보
                        tr
                            th 연락처
                            td= `${hideInfo(passedPurchaseList.recipientPhoneNum)}`
                            td= `${hideInfo(passedPurchaseList.ordererName)}`
                        tr
                            th(rowspan="2") 배송지
                            td= `${hideInfo(passedPurchaseList.postalCode)}`
                            td= `${hideInfo(passedPurchaseList.ordererPhoneNum)}`
                        tr
                            td= `${hideInfo(passedPurchaseList.address)}`
                            td= `${hideInfo(passedPurchaseList.ordererEmail)}`
                        tr
                            th 배송메모
                            td= `${passedPurchaseList.shipMessage}`
                            td
        .order--paginations
            if currentPage <= lastPage
                ul
                    if currentPage !== 1
                        a(href=`/store${routes.orders_kr}?page=${Number(currentPage)-1}`)
                            li < 이전
                    else
                        li
                    li= currentPage
                    if currentPage !== lastPage
                        a(href=`/store${routes.orders_kr}?page=${Number(currentPage)+1}`)
                            li 다음 >
                    else
                        li    