extends layouts/main_jp

block content
    .main--image--right
        img(src="/img/store/store-img.jpg")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .orders--wrapper
        .orders__header
            h3 注文照会
        if isData === false
            .order--lists
                h3 Nothing :(
        else
            each passedPurchaseList in passedPurchaseLists        
                .order--lists
                    h3 配送情報
                    table
                        tr
                            th 注文番号
                            td(colspan="2")= `${passedPurchaseList.purchaseInfo}`
                        tr
                            th 製品
                            td(colspan="2")= `${passedPurchaseList.productName} ${Number(passedPurchaseList.pinkCnt) > 0? `Pink ${passedPurchaseList.pinkCnt}` : ""} ${Number(passedPurchaseList.greenCnt) > 0? `Green ${passedPurchaseList.greenCnt}` : ""}`
                        if user
                            tr
                                th 配送状態
                                td= `${passedPurchaseList.shipStatus_jp}`
                                if passedPurchaseList.shipStatus_kr === "결제 완료" || passedPurchaseList.shipStatus_kr === "배송준비 중"
                                    td
                                        form(action=`/store${routes.refund_jp}?page=${currentPage}`, method="post")
                                            input(type="hidden", name="purchaseInfo", value=`${passedPurchaseList.purchaseInfo}`)
                                            input(type="hidden", name="ordererEmail", value=`${passedPurchaseList.ordererEmail}`)
                                            input(type="submit", value="払い戻し")
                                else
                                    td
                                        a(href="/notice/1/jp#contact--us") 問い合せ
                        else
                            tr
                                th 配送状態
                                td(colspan="2")= `${passedPurchaseList.shipStatus_jp}`
                        tr
                            th 受領印
                            td= `${hideInfo(passedPurchaseList.recipientName)}`
                            th 注文者情報
                        tr
                            th 連絡先
                            td= `${hideInfo(passedPurchaseList.recipientPhoneNum)}`
                            td= `${hideInfo(passedPurchaseList.ordererName)}`
                        tr
                            th(rowspan="2") お届け先
                            td= `${hideInfo(passedPurchaseList.postalCode)}`
                            td= `${hideInfo(passedPurchaseList.ordererPhoneNum)}`
                        tr
                            td= `${hideInfo(passedPurchaseList.address)}`
                            td= `${hideInfo(passedPurchaseList.ordererEmail)}`
                        tr
                            th 配送メモ
                            td= `${passedPurchaseList.shipMessage}`
                            td
        .order--paginations
            if currentPage <= lastPage
                ul
                    if currentPage !== 1
                        a(href=`/store${routes.orders_jp}?page=${Number(currentPage)-1}`)
                            li < 以前
                    else
                        li
                    li= currentPage
                    if currentPage !== lastPage
                        a(href=`/store${routes.orders_jp}?page=${Number(currentPage)+1}`)
                            li つぎ >
                    else
                        li