extends layouts/main

block content
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .payment--form
        .form__header
            h2 Payment information
            p
                span *
                | is required
        form(name="orderForm")
            .orderer--info
                h3 Orderer information
                .orderer--info__data
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererName")
                                | Name
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererName", id="ordererName")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererphoneNumber")
                                | Phone Number
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererPhoneNumber", id="ordererPhoneNumber", placeholder="Exclude -")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererEmail")
                                | Email address
                                span *
                        .orderer--info__input
                            input(type="email", name="ordererEmail", id="ordererEmail")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererCountry")
                                | Country
                                span *
                        .orderer--info__select
                            .country--select
                                ul.country--selected.js--countrySelected
                                    li Please select a country
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--countries.select--hide
                                    .orderer--country Australia
                                    .orderer--country Canada
                                    .orderer--country China
                                    .orderer--country Germany
                                    .orderer--country HongKong
                                    .orderer--country Israel
                                    .orderer--country Taiwan
                                    .orderer--country USA
                            input(type="hidden", name="ordererCountry", id="ordererCountry", readOnly )
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererAddress1")
                                | Address 1
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererAddress1", id="ordererAddress1")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererAddress2")
                                | Address 2
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererAddress2", id="ordererAddress2")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererPostalCode")
                                | Postal code
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererPostalCode", id="ordererPostalCode")
            .recipient--info      
                h3 Recipient information
                .recipient--info__data
                    .recipient--checkbox
                        label(for="sameRecipient") Same as orderer
                        input(type="checkbox", id="sameRecipient")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientName")
                                    | Name
                                    span *
                        .recipient--info__input
                            input(type="text", name="recipientName", id="recipientName")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientPhoneNumber")
                                | Phone Number
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientPhoneNumber", id="recipientPhoneNumber", placeholder="Exclude -")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientCountry")
                                | Country
                                span *
                        .recipient--info__select
                            .country--select
                                ul.country--selected.js--countrySelected
                                    li Please select a country
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--countries.select--hide
                                    .recipient--country Australia
                                    .recipient--country Canada
                                    .recipient--country China
                                    .recipient--country Germany
                                    .recipient--country HongKong
                                    .recipient--country Israel
                                    .recipient--country Taiwan
                                    .recipient--country USA
                            input(type="hidden", name="recipientCountry", id="recipientCountry", readOnly )
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientAddress1")
                                | Address 1
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientAddress1", id="recipientAddress1")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientAddress2")
                                | Address 2
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientAddress2", id="recipientAddress2")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientPostalCode")
                                | Postal code
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientPostalCode", id="recipientPostalCode")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="shipMessage") Shipping message
                        .recipient--info__input
                            textarea(name="shipMessage", id="shipMessage")  
        .payment--info
            h3 Payment information
            .spec--table
                table
                    tr
                        th
                        th Supporting Language
                        th Android (5.0 and above)
                        th IOS (9.0 and above)
                    tr
                        td FAVE FIT
                        td en / kr / jp
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                    tr
                        td(colspan=4) On Android 10, FAVE FIT will be supported in the future.
                    tr
                        td Mad runner
                        td en / kr
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                    tr
                        td Driving Master2
                        td All
                        td
                            i.fas.fa-check
                        td
                    tr
                        td Smashy world
                        td All
                        td
                            i.fas.fa-check
                        td
                    tr
                        td FAVE Surf
                        td en / kr / jp
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                table
                    tr
                        th(colspan="2") FAVE Surf (System Requirements)
                    tr
                        th CPU
                        td Samsung Exynos 9 series(8895) or more & Qualcomn snapdragon 835 or more
                    tr
                        th GPU
                        td ARM Cortex-A53 or more
                    tr
                        th Bluetooth
                        td 5.0 or more
                    tr
                        th Memory
                        td 4GB or more
                p
                    | Refunds are not possible
                    | if you make an incorrect purchase
                    | without checking the specifications of each app.
            .payment--verification
                .payment--table
                    table
                        tr
                            th Product
                            td(id="productName")= `${product}`
                        if PinkCnt
                            tr
                                th Color
                                td.productCnt= `${PinkCnt > 1? `Pink ${PinkCnt} pcs`: `Pink ${PinkCnt} pc`}`
                        if GreenCnt  
                            tr
                                th Color
                                td.productCnt= `${GreenCnt > 1? `Green ${GreenCnt} pcs` : `Green ${GreenCnt} pc`}`
                        tr
                            th product amount
                            td(id="productPrice")= `${totalPrice} USD`
                        tr
                            th shipping fee
                            td(id="shipPrice")= `${numberWithCommas(shipPay('', PinkCnt, GreenCnt))} USD`
                        tr
                            th Total price
                            td(id="totalPrice")= `${numberWithCommas(shipPay('', PinkCnt, GreenCnt)+ Number(numberUnCommas(totalPrice)))} USD`
                .payment--btn
                    button(id="paymentBtn") Purchase