extends layouts/main_jp

block content
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .payment--form
        .form__header
            h2 決済情報
            p
                span *
                | は必須入力項目です.
        form(name="orderForm")
            .orderer--info
                h3 注文者 情報
                .orderer--info__data
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererName")
                                | 名前
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererName", id="ordererName")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererphoneNumber")
                                | 携帯電話 番号
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererPhoneNumber", id="ordererPhoneNumber", placeholder="-を除く")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererEmail")
                                | Eメール アドレス
                                span *
                        .orderer--info__input
                            input(type="email", name="ordererEmail", id="ordererEmail")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererCountry")
                                | 国歌
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererCountry", id="ordererCountry", value="Japan", readOnly)
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererAddress1")
                                | 住所 1
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererAddress1", id="ordererAddress1")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererAddress2")
                                | 住所 2
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererAddress2", id="ordererAddress2")
                    .orderer--info__wrapper
                        .orderer--info__label
                            label(for="ordererPostalCode")
                                | 郵便番号
                                span *
                        .orderer--info__input
                            input(type="text", name="ordererPostalCode", id="ordererPostalCode")
            .recipient--info      
                h3 受領印 情報
                .recipient--info__data
                    .recipient--checkbox
                        label(for="sameRecipient") 注文者と同一
                        input(type="checkbox", id="sameRecipient")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientName")
                                    | 名前
                                    span *
                        .recipient--info__input
                            input(type="text", name="recipientName", id="recipientName")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientPhoneNumber")
                                | 携帯電話 番号
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientPhoneNumber", id="recipientPhoneNumber", placeholder="-を除く")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientCountry")
                                | 国歌
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientCountry", id="recipientCountry", value="Japan", readOnly)
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientAddress1")
                                | 住所 1
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientAddress1", id="recipientAddress1")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientAddress2")
                                | 住所 2
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientAddress2", id="recipientAddress2")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="recipientPostalCode")
                                | 郵便番号
                                span *
                        .recipient--info__input
                            input(type="text", name="recipientPostalCode", id="recipientPostalCode")
                    .recipient--info__wrapper
                        .recipient--info__label
                            label(for="shipMessage") 配送メッセージ
                        .recipient--info__input
                            textarea(name="shipMessage", id="shipMessage")  
        .payment--info
            h3 決済情報
            .spec--table
                table
                    tr
                        th
                        th 支援言語
                        th Android (5.0 以上)
                        th IOS (9.0 以上)
                    tr
                        td FAVE FIT
                        td en / kr / jp
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                    tr
                        td Mad runner
                        td en / kr
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                    tr
                        td Driving Master2
                        td All
                        td
                            i.fas.fa-check
                        td
                    tr
                        td Smashy world
                        td All
                        td
                            i.fas.fa-check
                        td
                    tr
                        td FAVE Surf
                        td en / kr / jp
                        td
                            i.fas.fa-check
                        td
                            i.fas.fa-check
                table
                    tr
                        th(colspan="2") FAVE Surf (システム 要求事項)
                    tr
                        th CPU
                        td Samsung Exynos 9 series(8895) 以上 & Qualcomn snapdragon 835 以上
                    tr
                        th GPU
                        td ARM Cortex-A53 or more
                    tr
                        th ブルートゥース
                        td 5.0 以上
                    tr
                        th メモリー
                        td 4GB 以上
                p 各アプリの仕様を確認せずに誤って購入した場合、払い戻しはできません.
            .payment--verification
                .payment--table
                    table
                        tr
                            th 製品
                            td(id="productName")= `${product}`
                        if PinkCnt
                            tr
                                th 色相
                                td.productCnt= `Pink ${PinkCnt} 個`
                        if GreenCnt  
                            tr
                                th 色相
                                td.productCnt= `Green ${GreenCnt} 個`
                        tr
                            th 商品総額
                            td(id="productPrice")= `${totalPrice} JPY`
                        tr
                            th 配送費
                            td(id="shipPrice")= `${numberWithCommas(shipPay('Japan', PinkCnt, GreenCnt))} JPY`
                        tr
                            th 合計決済金額
                            td(id="totalPrice")= `${numberWithCommas(shipPay('Japan', PinkCnt, GreenCnt)+ Number(numberUnCommas(totalPrice)))} JPY`
                .payment--btn
                    button(id="paymentBtnJp") 決済する