header.header
    .header--wide
        .user--form
            if user
                ul
                    li
                        a(href="javascript:void(0);") Logout
            else
                ul
                    li
                        a(href="javascript:void(0);") Login
                    li
                        a(href="javascript:void(0);") SignUp
            .user--language
                span
                    i.fas.fa-globe
                span English
                span 
                    i.fas.fa-caret-down
                .language--list
                    ul
                        li
                            a(href="/") English
                        li
                            a(href="/kr") 한국어
                        li
                            a(href="/jp") 日本語
        .header__navi
            .header__logo
                a(href="/")
                    img(src="/img/logo.png")
            .navi__list
                ul
                    li
                        a(href=routes.company) COMPANY
                    li
                        a(href="javascript:void(0);") ABOUT
                        ul
                            li
                                a(href="javascript:void(0);") Fitness
                            li
                                a(href=`/about${routes.game}`) Game
                            li
                                a(href=`/about${routes.character}`) Character
                            li
                                a(href=`/about${routes.connection}`) Connection
                    li
                        a(href="javascript:void(0);") NOTICE
    .header--narrow
        .header__logo--responsive#js--logoResponsive
            a(href="/")
                img(src="/img/logo_responsive.png")
            span.header__icon#js--openSide
                i.fas.fa-bars
        .header__navi--side#js--sideNavi
            .header__logo--side
                .side--navi__header
                    img(src="/img/logo_responsive.png")
                    span.header__icon#js--closeSide
                        i.fas.fa-times
                .side--navi__body
                    if user
                        ul.side-navi__userform
                            li
                                a(href="javascript:void(0);") Logout
                    else
                        ul.side-navi__userform
                            li
                                a(href="javascript:void(0);") Login
                            li
                                a(href="javascript:void(0);") Signup
                    ul.side--navi__collapsible.js--collapsible
                        li ENGLISH
                        li 
                            span
                                i.fa.fa-caret-down
                    ul.collapsible__content
                        li
                            a(href="/") English
                        li
                            a(href="/kr") 한국어
                        li
                            a(href="/jp") 日本語
                    ul.side--navi__content
                        li
                            a(href=routes.company) COMPANY
                    ul.side--navi__collapsible.js--collapsible
                        li ABOUT
                        li 
                            span
                                i.fa.fa-caret-down
                    ul.collapsible__content
                        li
                            a(href="/") Fitness
                        li
                            a(href=`/about${routes.game}`) Game
                        li
                            a(href=`/about${routes.character}`) Character
                        li
                            a(href=`/about${routes.connection}`) Connection
                    ul.side--navi__content
                        li
                            a(href="javascript:void(0);") NOTICE
